<html>
    <head>
        <title>CIS 322 REST-api: Brevet Controle List</title>

        <!-- Javascript:  JQuery from a content distribution network (CDN) -->
        <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
        </script>
    </head>

    <body>
        <h1>GET Controle Information</h1>

        <form action="" method='GET'>
            <label>Control List</label>
                <select name="control_list" id="control_list">
                    <option value='listAll'>List All</option>
                    <option value='listOpenOnly'>List Open Only</option>
                    <option value='listCloseOnly'>List Close Only</option>
                </select>
            <label>Format</label>
                <select name="format" id="format">
                    <option value='json'>JSON</option>
                    <option value='csv'>CSV</option>
                </select>
            <label>Limit</label>
                <input type='number' name='limit' id='limit' min='1' max='20' step='1'>

            <button type="button" value="Display" id='display'/>Display</button>
        </form>

        <button type="button" value="Logout" id='logout'/>Logout</button>        

        <h2>Requested Information</h2>

        <p id="output"> </p>

        <script type="text/javascript">
            $('#display').click(function(){
                console.log('Display button clicked');
                var list = $('#control_list').val();
                var format = $('#format').val();
                var limit = $('#limit').val();
                if ((limit == null)||(limit == '')){
                    var url = "/_" + list + "/" + format;
                } else {
                    var url = "/_" + list + "/" + format + "?top=" + limit;
                } 
                $('#output').text(' ');
                console.log("url: " + url);
                $.get(url, function(data){
                    var result = data.result;
                    if (format == 'json'){
                        $('#output').append(JSON.stringify(result[0]));
                        for (var i = 1; i < result.length; i++){
                            $('#output').append(", <br>" + JSON.stringify(result[i]));
                        }
                    } else{
                        var out = JSON.stringify(result)
                        $('#output').append(out);
                    }
                });
            });

            $('#logout').click(function(){
                window.location.href = '/logout';
            });
        </script>
    </body>
</html>
